[Unit]
Description=Socket for On-Demand Backup Activation

[Socket]
ListenStream=127.0.0.1:8085  # Localhost port for triggering
Accept=false

[Install]
WantedBy=sockets.target